/* mdl theme .css */
.demo-layout-transparent {
  background: url('../images/background-photo.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-layout__drawer-button{
    display:none;
}

.mdl-button.inheritWidth {
    width: inherit;
}

.mdl-button.lightBlueText{
    color: #61b5ff;
}

/* mdl card */

.mdl-card__supporting-text{
    color: #fff;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
    background:#272727;
    color: #fff;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
}

/* mainContainer */
.htmlTemplate#mainContainer{
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 30px;
    padding-bottom: 60px;
    border-radius: 5px;
    background-color: rgba(255, 170, 170, 0.3);
    color: white;
    overflow: auto;
}

.htmlTemplate.mainContainerMiddle#mainContainer{
    width: 1100px;
}

.htmlTemplate.mainContainerSmall#mainContainer{
    width: 500px;
}

/* loginAndCoreateAccount */

.btn.loginAndCoreateAccount{
    margin-right: 10px;
    float: left;
}

.loginAndCoreateAccount#mainMassage_createAccount, .btn.loginAndCoreateAccount#submitBtn, .btn.loginAndCoreateAccount#returnBtn{
    display:none;
}

.alert.loginAndCoreateAccount{
    display:none;
}

#progressSpinner{
    margin-left: 30px;
    display: none;
}

/* TextSelectMenu */
