body {
    /* how to display background img: http://coliss.com/articles/build-websites/operation/css/css-responsive-full-background-image-by-sixrevisions.html*/
    background-image: url(../images/background-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  padding-top: 5rem;

}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#mainNav{
    background-color: #2a2a2a;
}

.btn.loginAndCoreateAccount{
    margin-right: 10px;
    float: left;
}

.loginAndCoreateAccount#mainMassage_createAccount, .btn.loginAndCoreateAccount#submitBtn, .btn.loginAndCoreateAccount#returnBtn{
    display:none;
}

.alert.loginAndCoreateAccount{
    display:none;
}

#mainContainer{
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    padding-bottom: 60px;
    border-radius: 5px;
}


.loginAndCoreateAccount#mainContainer{
    width: 500px;
}